@import '../../styles/typography';

.main-view {
  position: relative;
  padding-top: 30px;

  .user-watch-list,
  .user-watched-list {
    padding: 9vh;
  }

  .section-header {
    h1, h2, h3 {
      font: 40px $ff-body;
    }
  }
}
