.main-view {
  position: relative;
  padding-top: 150px;

  .search-box-container,
  .user-watch-list {
    padding: 5vh;
  }

  .search-box-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  .user-watch-list {

  }
}
