.main-view {
  position: relative;
  padding-top: 30px;

  .search-box-container,
  .user-watch-list {
    padding: 9vh;
  }

  .search-box-container {
    width: 100%;
    padding-top: 40px;
  }

  .user-watch-list {

  }
}
