@import '../../styles/mq';

.search-box {
  position: relative;
  width: 100%;

  &--is-focussed {

    .search-box__exit {
      opacity: .8;
      &:hover { opacity: 1; }
    }

    .search-box__inner {
      transition: all 500ms ease;
      background: white;
    }
  }

  &__exit {
    display: block;
    position: absolute;
    top: 13px;
    right: 10px;
    cursor: pointer;
    opacity: 0;
    width: 40px;
    height: 40px;
    background: url('../../static/img/cross--black.svg') center no-repeat;
    background-size: 100% auto;
    transition: all 200ms ease;
  }

  &__inner {
    position: relative;
    background: rgba(0, 0, 0, .3);
    border-radius: 3px;
  }

  &__input {
    width: 100%;
    background: transparent;
    border: none;
    padding: 20px;
    color: black;

    &::-webkit-input-placeholder {
      color: rgb(55, 55, 55);
    }
  }
}

.search-results {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 20px;
  max-height: 70vh;
  overflow-y: scroll;
}

.search-no-results {
  display: block;
  width: 100%;
  padding: 30px 20px;
  font-size: 24px;
}

.search-result {
  position: relative;
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 20px;
  transition: all 300ms ease;
  border: 4px solid transparent;
  cursor: pointer;

  @media #{$mq-tablet-up} {
    width: 20%;
  }

  &--is-added {
    position: relative;

    .search-result__poster::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../../static/img/check-cover--green.svg') center no-repeat;
      background-size: auto 100%;
    }
  }

  &__poster,
  &__title {
    display: block;
  }

  &__poster img {
    display: block;
    width: 100%;
    height: auto;
  }

  &__poster .poster-placeholder {
    display: block;
    height: 278px;
    background: #525252;
  }
}

.result-options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  background: rgba(0,0,0,.5);
  color: white;

  .search-result--is-active & {
    display: block;
  }

  .search-result--is-added.search-result--is-active & { display: none; }
}
