$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes bounce-right {
  50% {
    transform: translateX(8px);
  }
}

@keyframes bounce-left {
  50% {
    transform: translateX(-8px);
  }
}
