.up-top {
  display: flex;
  justify-content: center;
  width: 100%;

  .app-logo {
    $logo-height-width-ratio: 1.602;
    $logo-height: 80px;
    height: $logo-height;
    width: $logo-height * $logo-height-width-ratio;
  }

  &.activity .app-logo {

  }
}
