@import '../../styles/mq';

.up-top {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  padding-left: 9vh;
  padding-right: 9vh;

  @media #{$mq-desktop-up} {
    justify-content: space-between;
    flex-flow: row nowrap;
  }

  .app-logo {
    position: relative;
    z-index: 200;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    @media #{$mq-desktop-up} {
      width: 30%;
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }

  .app-logo .logo {
    $logo-height-width-ratio: 1.602;
    $logo-height: 60px;
    display: inline-block;
    height: $logo-height;
    width: $logo-height * $logo-height-width-ratio;

     svg {
      width: 100%;
    }
  }

  .app-logo .app-logo-text {
    display: inline-block;
    padding-left: 30px;
  }

  &__children {
    display: block;
    width: 100%;

    @media #{$mq-desktop-up} {
      width: 70%;
    }
  }
}
