@import '../../styles/animations';
@import '../../styles/mq';

.movies-list {
  width: 100%;
  overflow: scroll;

  &__wrapper {
    position: relative;
  }

  &__chevron {
    position: absolute;
    top: 0px;
    z-index: 20000;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    width: 120px;
    height: 100%;
    padding-right: 10px;
    background: radial-gradient(80px circle, black, transparent 70%);
    background-repeat: no-repeat;
    transition: all 200ms $easeInOutQuart;

    &:hover {
      svg { opacity: 1; }
    }

    &--left {
      justify-content: flex-start;
      padding: 0 0 0 10px;
      left: 0;
      right: auto;
      background-position: -70px 49% /* Compensate for arrow misalignment */;

      &:hover { background-position: -50px 49%; }
      &:hover > svg { animation: bounce-left 300ms $easeInOutQuart both; }
    }

    &--right {
      left: auto;
      right: 0;
      background-position: 70px 49% /* Compensate for arrow misalignment */;

      &:hover { background-position: 40px 49%; }
      &:hover > svg { animation: bounce-right 300ms $easeInOutQuart both; }
    }
  }

  &__chevron > svg {
    display: block;
    width: 30px;
    height: auto;
    opacity: .7;
    transition: all 300ms ease;
  }

  &__chevron > svg path { fill: white; }

  &__empty {
    h2 {
      font-size: 40px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    min-height: 410px;
  }

  &__movie {
    position: relative;
    display: inline-block;
    width: 25%;
    padding: 30px 30px 0;
    text-align: center;
    cursor: pointer;
  }

  &__movie-cover {
    img {
      display: inline-block;
      margin: 0 auto;
      border-radius: 4px;
      max-height: 300px;
      width: auto;
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }

    .movie-cover-placeholder {
      display: block;
      height: 450px;
      background: #525252;
    }
  }

  &__movie-info {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: left;
    text-shadow: 0 3px 3px rgba(0,0,0,.5);

    .movie-title {
      font-size: 33px;
    }

    .movie-title__date {
      display: inline-block;
      margin-left: 10px;
      color: #a8a8a8;
      font-size: 22px;
    }
  }

  &__interact {
    position: absolute;
    top: 30px; right: 30px;
    bottom: 0; left: 30px;
    z-index: 100;
    display: none;
    background: rgba(0, 0, 0, .8);
    color: white;
    cursor: pointer;

    .movies-list__movie.is-active & {
      display: block;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    width: 100%;

    &--watched { height: 80%; }
    &--watched:hover { background: #05601f; }
    &--remove { height: 20%; }
    &--remove:hover { background: #b16620; }

    > strong {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  &__option + &__option {
    border-top: 1px solid black;
  }

}
