@import '../../styles/mq';

.movies-list {
  width: 100%;
  overflow: scroll;

  &__wrapper {
    position: relative;
  }

  &__chevron {
    position: absolute;
    top: 0px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 120px;
    height: 450px;

    &--left {
      left: 0;
      right: auto;
      background: linear-gradient(to right, white, transparent);
    }

    &--right {
      left: auto;
      right: 0;
      background: linear-gradient(to left, white, transparent);
    }
  }

  &__chevron > svg {
    display: block;
    width: 30px;
    height: auto;
    opacity: .7;
    transition: all 300ms ease;
    &:hover { opacity: 1; }
  }

  &__chevron > svg path { fill: rgb(78, 78, 78); }

  &__empty {
    h2 {
      font-size: 40px;
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    min-height: 410px;
  }

  &__movie {
    display: inline-block;
    width: 25%;
    padding: 30px 30px 0;
    text-align: center;
  }

  &__movie-cover {
    img {
      display: inline-block;
      margin: 0 auto;
      border-radius: 4px;
      max-height: 300px;
      width: auto;
      box-shadow: 0 1px 2px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.2);
    }

    .movie-cover-placeholder {
      display: block;
      height: 450px;
      background: #525252;
    }
  }

  &__movie-info {
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: left;

    .movie-title {
      font-size: 33px;
    }

    .movie-title__date {
      display: inline-block;
      margin-left: 10px;
      color: #a8a8a8;
      font-size: 22px;
    }
  }
}
